@import "~@fluentui/react/dist/sass/References.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 0px;
}

.background_card {
  border-radius: 10px;
  padding: 18px;
}

.font_size {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  color: #f4364c;
  font-size: 24px;
  font-weight: 700;
}

.text {
  color: #3c1053;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
